$primaryColor:#3249c3;
$secondaryColor:#612695;
*{
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing:antialiased;
}
body{
  font-family: "Montserrat",sans-serif,tahoma;
  margin:0;
  padding:0;

}
a,a:link,a:visited,a:hover,a:focus,a:active{
  text-decoration: none;
  color:inherit;
}

header{
  width:100%;
  height:1150px;
  background:url('assets/images/header.jpg') no-repeat center center fixed;
  background-size: cover;
  clip-path:url(#headerMask);
  position:relative;
  display:flex;
  align-items: center;
  flex-direction: column;
  color:#FFF;
  #header-inner{
    position:relative;
    z-index:3;
    display:flex;
    align-items: center;
    flex-direction:column;
    margin-top:80px;
  }
  #header-highlights{
    position:absolute;
    top:250px;
    left:0;
    right:0;
    margin:auto;
  }
  &::before{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:-webkit-linear-gradient(90deg,$primaryColor,$secondaryColor);
    opacity: .6;
    content:'';
    display:block;
    z-index:0;
  }
    h1{
      font-weight: bold;
      font-size:42px;
      margin:0;
    }
    h2{
      font-weight: 100;
    }
    h2{
      font-size:28px;
      b{
        font-weight: 900;
      }
    }
    h3{
      font-size:18px;
    }

}

#menu{
  width:100%;
  display:flex;
  align-items: center;
  height:50px;
  justify-content: center;
  padding-top:15px;
  z-index:3;
  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    li{
      display:flex;
      margin:0 20px;
      color:#fff;
      color:rgba(255,255,255,.5);
      transition:all 0.3s;
      &:hover{
        color:rgba(255,255,255,1);
      }
    }
  }
}

#biography{
  margin-top:-800px;
  position: relative;
  width:100%;
  min-height:733px;
  z-index:2;
  padding:250px 100px;
  #avatar-wrapper{
    width:200px;
    height:200px;
    margin-top:50px;
    overflow: hidden;
    border-radius:50%;
    z-index:3;
    position: absolute;
    right:0;
    left: 0;
    top:-70px;
    margin:auto;
    box-shadow:0px 35px 50px rgba(0,0,0,0.4);
    img{
      width:100%;
      height:auto;
      position:absolute;
      top:-9999px;
      left:-9999px;
      right:-9999px;
      bottom:-9999px;
      margin:auto;
    }
  }
  p{
    line-height:28px;
    font-size:18px;
    font-weight:100;
    width:60%;
    text-align: justify;;
  }

}

h2.section-title{
  font-size:36px;
  position: relative;
  display:inline-block;
  font-weight: 100;
  &::before{
    content:attr(data-title);
    display:block;
    position:absolute;
    z-index:1;
    opacity:.05;
    left:-5px;
    bottom:-17px;
    color:#000;
    font-size:100px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &::after{
    width:70px;
    height:5px;
    content:'';
    border-radius:5px;
    display:block;
    position:absolute;
    right:0;
    bottom:-20px;
    background:#DA3662;
  }
}

#nomad{
  width:100%;
  height:800px;
  overflow: hidden;
  position:relative;
  #nomad-pic{
    clip-path:url(#nomadMask);
    &::before{
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      background:-webkit-linear-gradient(90deg,$secondaryColor,$primaryColor);
      opacity: .6;
      content:'';
      display:block;
    }
    position:absolute;
    left:0;
    top:0;
    z-index:2;
  }
  #nomad-inner{
    position:absolute;
    right:100px;
    top:100px;
    width:calc(100% - 550px);
    z-index:3;
    h2{
      width:100%;
      color:#000;
      text-align: right;
      &::before{
        left:initial;
        right:0;
      }
    }
    p{
      width:450px;
      position:absolute;
      right:0;
      font-size:18px;
      line-height:28px;
      text-align: justify;
      a{
        border-radius:50px;
        height:60px;
        line-height:60px;
        color:#FFF;
        background:-webkit-linear-gradient(0deg,#AA66EF,#DA3662);
        position:relative;
        text-align: center;
        font-weight:bold;
        font-size:20px;
        padding-left:35px;
        margin-top:150px;
        box-shadow:0px 35px 50px rgba(0,0,0,0.3);
        svg{
          position:absolute;
          top:0;
          left:50px;
          bottom:0;
          margin:auto;
        }
        display:block;
      }
    }
  }
}

svg{
  display:block;
}

#education{
  width:100%;
  height:auto;
  padding:0 100px;
  text-align: center;
  margin-top:150px;
  p{
    font-weight:100;
    margin-top:50px;
    width:100%;
    padding:0 100px;
    text-align:left;
    line-height:40px;
    span{
      margin-right:50px;
      img{
        position:relative;
        top:4px;
        margin-right:10px;
      }
    }
  }
  h2{
    &::before{
      display:flex;
      justify-content: center;
      right:0;
      left:0;
      margin:auto;
    }
    &::after{
      right:0;
      left:0;
      margin:auto;
    }
  }
}


#skills{
  margin-top:200px;
  width:100%;
  padding:0 100px;
  #skills-inner{
    margin-top:50px;
    span{
      display:inline-block;
      margin-bottom:25px;
      width:24%;
      img{
        position:relative;
        top:4px;
      }
    }
  }
}


#portfolio{
  margin-top:200px;
  width:100%;
  position:relative;
  &::before{
    width:100%;
    height:500px;
    background:url('assets/images/portfolio-man.svg') no-repeat;
    background-position: right;
    background-size:500px;
    content:'';
    display:block;
    position:absolute;
    right:100px;
    top:0;
  }
  #portfolio-header{
    width:30%;
    padding-left:100px;
    height:500px;
    justify-content: center;
    display:flex;
    flex-direction: column;
    position:relative;
    h2{
      &::after{
        left:0;
        right:initial;
      }
    }
  }
  #portfolio-inner{
    width:100%;
    height:auto;
    position:relative;
    display:flex;
    flex-direction: row;
    padding-left:100px;
    padding-right:100px;
    &::before{
      width:100%;
      height:600px;
      content:'';
      display:block;
      background:url('assets/images/portfolio.svg') no-repeat;
      background-size:600px;
      position:absolute;
      left:0;
      top:0;
      z-index:0;
    }
    .item-wrapper{
      flex:.3;
      width:33.3333%;
      height:250px;
      padding:35px;
      align-items: center;
      justify-content: center;
      display:flex;
      border-radius:4px;
      z-index:1;
      position:relative;
      .item-image{
        width:100%;
        height:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius:4px;
        z-index:3;
        box-shadow:-25px 25px 40px rgba(0,0,0,0.5);
        img{
          height:100%;
          width:auto;
        }
      }
      &::before{
        width:calc(100% - 70px);
        height:calc(100% - 70px);
        position:absolute;
        z-index:2;
        bottom:0px;
        left:0px;
        border-radius:4px;
        background:#FFF;
        content:'';
        display:block;
        box-shadow:0px 25px 40px rgba(0,0,0,0.1);
      }

    }
  }
}
